# Rede Solana
NEXT_PUBLIC_SOLANA_NETWORK=devnet

# Helius — SERVIDOR APENAS (sem NEXT_PUBLIC_)
HELIUS_API_KEY=309aea71-6ab0-41d4-a66a-7bebac41f938

# Pinata — SERVIDOR APENAS (sem NEXT_PUBLIC_)
PINATA_JWT=9194ea749ce003cc73f7
