# Rede Solana
NEXT_PUBLIC_SOLANA_NETWORK=devnet

# Helius — SERVIDOR APENAS (sem NEXT_PUBLIC_)
HELIUS_API_KEY=sua_api_key_aqui

# Pinata — SERVIDOR APENAS (sem NEXT_PUBLIC_)
PINATA_JWT=seu_jwt_aqui

# Likes pagos
# Preço do like em SOL (fixo, ajustar manualmente conforme cotação)
# Pagamento vai 100% para o artista que mintou a obra
NEXT_PUBLIC_LIKE_PRICE_SOL=0.0003
